.extra-activities-container {
  border: 2px solid red;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.activity-form {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.activity-form .MuiGrid-item {
  display: flex;
  align-items: center;
}

.activity-form .MuiTextField-root {
  width: 100%;
}

.activity-form .MuiButton-contained {
  margin-top: 10px;
}
