.professional-summary-container {
  border-radius: 4px;
  padding: 16px;
  width: 93%;
}

.summary-textarea {
  width: 100%;
  min-height: 100px;
  border-width: 0px;
  font-size: 15px;
  outline: none;
  display: block;
  display: block;
  resize: none;
  /* maxlength: 100px in HTML */
}
