.professional-summary-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20px;
}

.summary-textarea {
  width: 100%;
  min-height: 50px;
  border-width: 0px;
  font-size: 20px;
  outline: none;
  display: block;
  overflow: hidden;
  display: block;
  resize: none;
  /* maxlength: 100px in HTML */
}
